/* ---------- main section ---------- */
#main {
    width: 100%;
    /* height: 50em; */
      padding: 5em 0;
    backdrop-filter: blur(1px);
    backdrop-filter: contrast(250px);
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }
  #main::before {
    content: "";
    width: 100%;
    height: 30em;
    position: absolute;
    right: 25em;
    z-index: -1;
    background: rgb(19, 19, 19);
    border-radius: 36px;
  }
  #main .user_info {
    margin: 0 30px;
  }
  #main .user_info .user_name {
    font-family: var(--font);
    font-size: 5em;
  }
  #main p {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    color: var(--light-color);
    margin-bottom: 1.5em;
  }
  #main .user_img img {
    width: 25em;
    height: 25em;
    border-radius: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
    padding: 5px;
    transition: all 0.4s ease-in;
  }
  #main .user_img img:hover{
    border: 2px solid var(--secondary-color);
  }
  #main .user_info .btn {
    padding: 0.6em 2em;
    background: none;
    color: var(--color);
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    transition: all 0.4s;
  }
  #main .user_info .btn:hover {
    background: var(--secondary-color);
  }
  #particles-js {
    width: 100%;
    position: absolute;
    z-index: -1;
  }